.chatOnlineFriend{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
   
    padding: 5px;
}
.chatOnlineFriend:hover{
    background-color: rgb(245, 243,243);
}
.chatOnlineImgContainer{
    position: relative;
    margin-right: 10px;
}

.chatOnlineImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.chatOnlineBadge{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: 2px;
    right: -5px;
    border: 2px solid white;
}