body {
    overflow-x: hidden;


    .skeletonLayout {
        display: flex;
        gap: 20px;
        padding: 20px;
        max-width: 1200px;
        margin: auto;


        
    }

    /* LEFT */
    .skeletonLeft {
        flex: 2;
    }

    .leftItem {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;
    }

    /* FEED */
    .skeletonFeed {
        flex: 6;
    }

    .stories {
        display: flex;
        gap: 12px;
        margin-bottom: 20px;
    }

    .createPost,
    .post {
        background: white;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .postHeader {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    .row {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .space {
        justify-content: space-between;
    }

    /* RIGHT */
    .skeletonRight {
        flex: 3;
    }

    .rightItem {
        display: flex;
        gap: 10px;
        margin-top: 15px;
    }
}

/* ================== RESPONSIVE ================== */

@media (max-width: 1024px) {

    .skeletonLeft,
    .skeletonRight {
        display: none;
    }

    .skeletonFeed {
        flex: 1;
    }
}

@media (max-width: 600px) {
    .stories {
        overflow-x: auto;
    }

    .stories::-webkit-scrollbar {
        display: none;
    }
}