.rightbar{
    flex: 3.5;
    max-height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

.rightbarWrapper{
    padding: 20px 20px 0 0;
}

.birthdayContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.birthdayImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthdayText{
    font-weight: 300;
    font-size: 15px;
}

.rightbarAd{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin: 30px 0;
    display: none;
}



.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightbarInfo{
    margin-bottom: 30px;
}

.rightbarInfoItem{
    margin-bottom: 10px;
}

.rightbarInfoKey{
    font-weight: 500;
    margin-right: 15;
    color: #555;
}

.rightbarInfoValue{
    font-weight: 300;
}

.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     gap: 1px;
     
}

.rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.rightbarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.rightbarFollowButton{
    margin-bottom: 10px;
    border: none;
    background-color: #1872f2;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.rightbarFollowButton:focus{
    outline: none;
}
